<!DOCTYPE html>

<html>
	<%- include('../partials/header') %>
	<%- include('../partials/navbar') %>
	
	<div class="center-div">
		<h4>User profile</h4>
		<br>
		<h4>User Info</h4>
		<%= user.Email %>
		<br>
		<%= user.DisplayName %>
		<br>
		<%= user.FirstN %>
		<br>
		<%= user.LastN %>
	</div>
	<div class="center-div">
		<h4>Posts Made</h4>
		<% for(var i = 0; i < posts.length; i++) { %>
			<a href="/post/post_page/<%=posts[i].PostNum%>"><%=posts[i].Title%></a>
			<br>
			<%=posts[i].Text%>
		<% }%>
	</div>
	<div class="center-div">
		<h4>Comments Made</h4>
		<% for(var i = 0; i < comments.length; i++) { %>
			<%= comments[i].Content %>
		<% }%>
	</div>
</html>
