<!DOCTYPE html>
<html>
	<head>
		<title><%= blog.BlogName %></title>
	</head>

	
	<body>
		<%- include('../partials/header') %>
		<%- include('../partials/navbar') %>
		<div class="center-div">
			<h3><%= blog.BlogName %></h3>
			<p>Blog Description: <%=blog.DescField%></p>
			<p>Create a post!</p>
			<form action="/post/create" method="post">
				<input type="hidden" name="BlogID" value="<%=blog.BlogID%>" >
				<input type="hidden" name="cat_title" value="<%=blog.BlogName%>">
				<input type="text" name="Title" placeholder="Title" required>
				<br>
				<input type="text" name="Text" placeholder="Text" required>
				<br>
				<input type="submit" value="Create Post">
			</form>
			
			<br>
			
			<h3>Posts</h3>
			<% for(var i = 0; i < posts.length; i++) { %> 
				<br>
				<a href="/post/post_page/<%=posts[i].PostNum%>"><%= posts[i].Title%></a>	
				<br>
				<%= posts[i].Text %>
				<br>
				Created by <%= posts[i].Email %>
				<br>
			<% } %>
		</body>

		
		</div>
</html>
