<!DOCTYPE html>
<html>
	<head>
		<title>List of Blogs</title>
	</head>
	<%- include('../partials/header') %>
	<%- include('../partials/navbar') %>
	
	<div class="container">
	<p>List of blogs</p>
		<div class="row justify-content-center">
			<% for (var i = 0; i < queryResult.length; i++) { %> 
				<div class="card blog-cards" style="width: 18rem;">
					<a href="/blog/category/<%= queryResult[i].BlogName %>/<%= queryResult[i].BlogID %>"> 
							<%= queryResult[i].BlogName %>
					</a>
					<%= queryResult[i].DescField %>
					<% if(i%4 == 0) {%>
						<div class="w-100 d-none d-md-block"></div>
					<%}%>
				</div>
			<% } %>
		</div>
	</div>
</html>
