<!DOCTYPE html>
<html>
	<head>
		<title>List of Blogs</title>
	</head>
	<%- include('../partials/header'); %>
	<div class="center-div">
	<p>List of blogs</p>

	<ul>
		<% for (var i = 0; i < queryResult.length; i++) { %> 
			<li> 
				<p> 
				<a href="/blog/category/<%= queryResult[i].BlogName %>/<%= queryResult[i].BlogID %>"> 
						<%= queryResult[i].BlogName %>
				</a>
				</p>
				<p><%= queryResult[i].DescField %></p>			
			</li>
		<% } %>
	</ul>
	</div>
</html>
